---
import { type CollectionEntry, getCollection } from 'astro:content';
import BaseLayout from '@/layouts/BaseLayout.astro';
import { TableOfContents } from '@/components/blog/TableOfContents';
import { Comments } from '@/components/blog/Comments';
import { BackButton } from '@/components/ui/BackButton';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content, headings } = await post.render();
---

<BaseLayout title={post.data.title} description={post.data.description}>
	<div class="container mx-auto relative py-6 lg:py-10 max-w-7xl lg:gap-12 lg:grid lg:grid-cols-[1fr_260px]">
        <div class="w-full min-w-0">
            <BackButton client:load />
            <div>
                <div class="flex items-center gap-4 text-sm text-muted-foreground mb-2">
                    {post.data.category && (
                        <a href={`/categories/${post.data.category}`} class="font-medium text-primary hover:underline">
                            {post.data.category}
                        </a>
                    )}
                    {post.data.pubDate && (
                        <time datetime={post.data.pubDate.toISOString()}>
                            发布于 {post.data.pubDate.toLocaleDateString()}
                        </time>
                    )}
                </div>
                {post.data.tags && post.data.tags.length > 0 && (
                    <div class="mt-2 flex gap-2">
                        {post.data.tags.map((tag) => (
                            <a href={`/tags/${tag}`} class="text-sm font-medium text-primary hover:underline">
                                #{tag}
                            </a>
                        ))}
                    </div>
                )}
                <h1 class="scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl mt-2 mb-4">
                    {post.data.title}
                </h1>
                {post.data.heroImage && (
                    <img
                        src={post.data.heroImage}
                        alt={post.data.title}
                        width={720}
                        height={405}
                        class="my-8 rounded-md border bg-muted transition-colors w-full"
                    />
                )}
            </div>
            <div class="prose dark:prose-invert max-w-none" data-pagefind-body>
                <Content />
            </div>
            <hr class="mt-12" />
            <Comments client:visible />
        </div>
        
        <div class="hidden lg:block">
            <div class="sticky top-20 pl-4 border-l">
                <TableOfContents headings={headings} client:visible />
            </div>
        </div>
	</div>
</BaseLayout>

