---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

export const prerender = true;

export async function getStaticPaths() {
  const allPosts = await getCollection("blog", ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  });
  const allTags = await getCollection('tags');

  return allTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags?.map((t) => t.id).includes(tag.id));
    return {
      params: { tag: tag.id },
      props: { posts: filteredPosts, tagName: tag.data.name },
    };
  });
}

const { tag } = Astro.params;
const { posts, tagName } = Astro.props;
---

<BaseLayout title={`包含标签 #${tagName} 的文章`}>
    <div class="container mx-auto max-w-4xl py-8 md:py-12 lg:py-24">
        <h1 class="mb-10 text-3xl font-bold">包含标签 <span class="text-primary">#{tagName}</span> 的文章</h1>
        
        <div class="grid gap-10 sm:grid-cols-2">
            {posts.map((post) => (
                <article class="group relative flex flex-col space-y-2">
                    {(post.data.coverImage || post.data.heroImage) && (
                        <img
                            src={post.data.coverImage || post.data.heroImage}
                            alt={post.data.title}
                            width={804}
                            height={452}
                            class="rounded-md border bg-muted transition-colors"
                        />
                    )}
                    <h2 class="text-2xl font-extrabold pb-2">
                        <a href={`/blog/${post.slug}`} class="block transition-colors hover:text-primary">
                            {post.data.title}
                        </a>
                    </h2>
                    <p class="text-muted-foreground pb-2">{post.data.description}</p>
                    <p class="text-sm text-muted-foreground">
                        {post.data.pubDate.toLocaleDateString()}
                    </p>
                    <a href={`/blog/${post.slug}`} class="absolute inset-0">
                        <span class="sr-only">阅读文章</span>
                    </a>
                </article>
            ))}
        </div>
    </div>
</BaseLayout>
